body {
    display: flex;
    justify-content: center;
    text-align: center;
}
.content {
    padding: 1rem;
    border: 1px solid black;
}
#turnOff {
    display: none;
}
#message {
    background-color: blue;
    color: white;
}
button, input {
    margin: 5px 0;
    width: 150px;
}