* {
    margin: 0;
    padding: 0;
}

h1 {
    color: blue;
}

.style {
    margin: auto;
    width: 450px;
    font-size: 16px;
    background-color: #eeeeee;
    border: 5px solid #eeeeee;
    padding-left: 60px;
}

.style label,
input,
section {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 15px;
}

.style>label {
    float: left;
    width: 200px;
}

.style>input {
    margin-top: 3px;
}

.style>select {
    width: 163px;
    font-size: 16px;
}

#calculator {
    margin-left: 200px;
    margin-top: 5px;
}