body{
    margin-top: 100px;
    margin-left: 30%;
    margin-right: 30%;
    padding: 50px;
    border: 3px solid rgb(0, 3, 175);
}
div{
    margin-left: 30px;
}
i{
    margin-right: 10px;
    color: darkblue;
}
h1{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.cl{
    color: rgb(14, 0, 53);
}