.value_Calculator{
    width: 500px;
    height: 300px;
    border: 4px solid blue;
    padding-left: 20px;
    margin: 0px auto;
}

label{
    display: inline-block;
    width: 150px;
    margin-bottom: 10px;
    text-align: left;
}

#bt{
    margin-top: 10px;
    margin-left: 193px;

}